# Diretórios comuns
target/
.idea/
.vscode/
.git/
.gitignore

# Arquivos temporários
*.log
*.tmp
*.swp
*.bak
*.class

# Configurações do sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
*.pem
*.pub
